html,
body {
  min-width: 60ch;
  max-width: 60%;
  height: 100%;
  margin: auto
}


html {
  background-color: #fff
}

th,
td {
  padding: 0.4em;
}

th {
  background-color: black;
  color: white;
}

button {
  background-color: black;
  color: white;
  padding: 0.4em;
  margin: 0.4em;
  border-radius: 0.2em;
  border: none;
}

button:hover {
  background-color: red;
  color: black;
}

p#Acknowledgements {
  position: absolute;
  bottom: 0;
  margin: auto;
  font-size: 0.8em
}

#menu_bar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.5em
}



#options {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.5em
}

#generate {
  background-color: #eee;
  box-shadow: 0em 0em 0.2em 0em;
  border-radius: 0.05em;
  border-left: 0.2em solid red;
  padding: 0.2em;
  margin: 1em
}

h2 {
  margin: auto
}

#stat_block {
  background-color: #eee;
  box-shadow: 0em 0em 0.2em 0em;
  border-radius: 0.1em;
  margin: 1em
}

#stat_header {
  background-color: black;
  color: white;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  display: flex;
  flex-wrap: wrap;
}

#skill_header {
  background-color: black;
  color: white;
  padding: 0.4em;
  display: flex;
  flex-wrap: wrap;
  margin: 0.4em 0 0.4em 0;
}